<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<h2><p><%= notice %></p></h2>

<h1>写真一覧</h1>

<%= link_to "写真を作成する", new_picture_path, class: 'btn btn-default' %>

<% @pictures.each do |picture| %>
 <div class="row">

 <p>投稿者ID:<%= picture.user.id if picture.user %></p>
 <p>投稿者:<%= picture.user.name if picture.user %></p>
 <p><%= profile_img(picture.user) %></p>
  <p>タイトル:<%= picture.title %></p>
  <p>本文:<%= simple_format (picture.content) %></p>

  <%= link_to "写真を編集する", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>


 <%= link_to '写真を削除する', picture_path(picture), method: :delete, data: { confirm: '本当に削除していいですか？' } , class: 'btn btn-default btn-sm btn btn-danger' %>
<%= link_to "詳細を見る", picture_path(picture.id), class: 'btn btn-default btn-sm btn-info' %>
</div>
<% end %>


<%= link_to "写真を作成する", new_picture_path , class: 'btn btn-default'%>
</div>
</div>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

